/* ELEMENTS */
.img-value {
  height: 620px;
  width: 635px;
  /* object-fit: cover; */
}
.container-value {
  height: 560px;
  width: 610px;
}

.logo {
  height: 100%;
  width: auto;
}

.banner {
  background-image: url("../images/home/home-background-banner.png");
  /* max-width: 1920px; */
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-size: cover; /* Scale the background image to cover the entire area */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
  gap: 100px;
}
.img-text-section {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 120px;
}

.blue-text-box {
  background-color: #005662;
  font-family: "Roboto";
  text-align: center;
  color: white;
  height: 476px;
  width: 526px;
  font-size: 24px;
  padding: 30px;
  border: 4px solid black;
  border-radius: 24px;
}

.emphasize {
  font-size: 24px;
  font-weight: bold;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.slideInLeft {
  animation: slideInLeft 0.7s linear forwards;
  opacity: 1;
  filter: blur(0);
}

@keyframes arrow-down {
  0% {
    opacity: 0;
    transform: translateY(-120px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes spinArrow {
  0% {
    opacity: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5));
  }
  100% {
    opacity: 1;
    transform: scale(-1);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.15));
  }
}

.animateArrow {
  animation: spinArrow 0.3s ease-out forwards;
}
.animateSIL {
  opacity: 0;
}

.fu {
  animation: fade-up 1s 0.1s ease-out backwards;
}

.before-animation {
  opacity: 0;
  transform: translateY(15px);
}

.caption {
  font-family: "Lato";
}
