.header1 {
  width: 980px;
  height: 75px;
  margin-top: 105px;
}

.container-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.service {
  width: 815px;
  height: 90px;
  margin-top: 110px;

  z-index: 2;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.75);
  /* Horizontal offset, vertical offset, blur radius, color(r, g, b, transparency) */

  background-size: cover; /* Adjust to fit the div */
  background-position: center; /* Center the image */
}

.service-info {
  width: 635px;
  height: 0px;
  background-color: white;
  border-radius: 15px;

  opacity: 0;
  border: 0px solid black;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0);
  transition: height 0.3s, border 0.3s, box-shadow 0.3s, opacity 0.3s;
  z-index: 1;

  background-size: cover; /* Adjust to fit the div */
  background-position: center; /* Center the image */
}
