@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
    filter: blur(2px);
  }
  to {
    transform: translateX(0);
    filter: blur(0);
  }
}
@keyframes stingray {
  from {
    transform: translateX(300px);
    filter: blur(2px);
  }
  to {
    transform: translateX(0);
    filter: blur(0);
  }
}
@keyframes stingray2 {
  from {
    transform: translateX(-300px);
    filter: blur(2px);
  }
  to {
    transform: translateX(0);
    filter: blur(0);
  }
}
@keyframes stingray-out {
  from {
    transform: translateX(0);
    filter: blur(0);
  }
  to {
    transform: translateX(-300px);
    filter: blur(2px);
  }
}
@keyframes stingray-hover {
  0%,
  100% {
    transform: translateY(5px); /* Starting and ending position */
  }
  50% {
    transform: translateY(0px); /* Middle point, rotated */
  }
}
@keyframes fishAnimation {
  0%,
  100% {
    transform: rotate(0deg) translateX(5px); /* Starting and ending position */
  }
  50% {
    transform: rotate(1deg) translateX(0px); /* Middle point, rotated */
  }
}

body,
html {
  height: auto;
  margin: 0;
  background: linear-gradient(#56b8ec, #193747);
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
}

/* PROPERTIES */
.no-drag {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* ANIMATIONS */
.animated {
  opacity: 0;
  transform: translateY(-100px);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.animated.animate {
  opacity: 1;
  transform: translateY(0);
}

.delayed-animation1 {
  animation-delay: 2s;
}
.delayed-animation2 {
  animation-delay: 4s;
}

/* HEADER SECTION */
.container-header {
  width: 100vw;
  height: 97.5vh;
  display: flex;
  justify-content: center;
}
.image-header {
  width: 100%;
  /* height: 95vh; */
  height: auto;
  object-fit: cover;
}
.banner-header {
  background-color: rgba(255, 255, 255, 0.68);
  position: absolute;
  height: 20%;
  width: 100%;
  top: 35%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  color: #163240;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* PAGE ELEMENTS */
.horizontal-line {
  height: 2.5vh;
  width: 100%;
  background-color: white;
  margin-top: 0;
}
.white-text-box {
  background-color: white;
  border: 4px solid black;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 1);
  display: inline;
  padding: 10px 50px;
}
.font {
  font-size: 30px;
  text-align: center;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTAINERS */
.container-white {
  background-color: white;
}
.border-shadow {
  border: 4px solid black;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
  /* Horizontal offset, vertical offset, blur radius, color(r, g, b, transparency) */
}

/* NAV BAR */
.nav-bar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  z-index: 10;
  transition: background-color 0.4s ease-in;
}
.nav-bar a {
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s;
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.nav-bar a::before {
  content: "";
  position: absolute;
  top: 0;
  left: var(--x, 50%);
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: width 0.4s ease-in-out;
  transform: translateX(-50%);
  pointer-events: none;
}
.nav-bar a:hover::before {
  width: 300%;
}
.nav-bar a span {
  position: relative;
  z-index: 1;
  transition: transform 0.5s ease-out;
}
.nav-bar a:hover span {
  font-size: larger;
}
.nav-bar a:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-bar-colour {
  background: #3a3a3a;
}

/* FOOTER SECTION */
.footer {
  height: 215px;
  width: 100%;
  background-color: #163240;
  margin: 0 auto;
  color: #fff;
  z-index: 101;
}
.marmot-credit-flex {
  margin-top: 46px;
  position: absolute;
  gap: 10px;
  width: 300px;
  right: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media-flex {
  margin-top: 46px;
  position: absolute;
  gap: 11px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media-row-flex {
  display: flex;
  align-items: center;
  gap: 50px;
}

.fish {
  position: absolute;
  mix-blend-mode: soft-light;
  height: 678px;
  width: 678px;
}

.element-with-fish-animation {
  animation: fishAnimation 3s linear infinite both;
}

.stingray-style {
  display: inline-block;
  width: 50%;
  max-height: 696px;
  margin-top: 198px;
}
.stingray-animation {
  animation: stingray 0.5s ease-in both;
}
.stingray-hover-animation {
  animation: stingray-hover 0.5s linear infinite both;
  animation-delay: 1s; /* Adjust the delay as per your preference */
}
.stingray-out-animation {
  animation: stingray1-out 0.5s ease-in both;
}

.slideInLeft {
  animation: slideInLeftAnimation 0.7s ease-in both;
}
