@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
    filter: blur(2px);
  }
  to {
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes stingray {
  from {
    transform: translateX(300px);
    filter: blur(2px);
  }
  to {
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes stingray2 {
  from {
    transform: translateX(-300px);
    filter: blur(2px);
  }
  to {
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes stingray-out {
  from {
    transform: translateX(0);
    filter: blur(0);
  }
  to {
    transform: translateX(-300px);
    filter: blur(2px);
  }
}

@keyframes stingray-hover {
  0%,
  100% {
    transform: translateY(5px); /* Starting and ending position */
  }
  50% {
    transform: translateY(0px); /* Middle point, rotated */
  }
}

@keyframes fishAnimation {
  0%,
  100% {
    transform: rotate(0deg) translateX(5px); /* Starting and ending position */
  }
  50% {
    transform: rotate(1deg) translateX(0px); /* Middle point, rotated */
  }
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
}

body,
html {
  height: auto;
  margin: 0;
  background: linear-gradient(#56b8ec, #193747);
}

.no-drag {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.footer {
  background: #163240;
  color: #fff;
  z-index: 101;
}

.white-text-box {
  background-color: white;
  border: 4px solid black;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 1);
  display: inline;
  padding: 10px 50px;
}

.font {
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

/* CONTAINERS */
.container-white {
  background-color: white;
}
.border-shadow {
  border: 4px solid black;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 1);
  /* Horizontal offset, vertical offset, blur radius, color(r, g, b, transparency) */
}

.horizontal-line {
  height: 15px;
  width: 100%;
  background-color: white;
}

/* NAV BAR */
.nav-bar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 75px;
}
.nav-bar a {
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s; /* for smooth transition */
  text-decoration: none;
  color: white; /* font colour */
  font-size: 20px;
  text-align: center;
  display: flex; /* Enable flex properties for child elements */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
}
.nav-bar a:hover {
  /* filter: brightness(0.7); Darken the image */
  background-color: rgba(0, 0, 0, 0.25); /* Darken the background on hover */
}
.nav-bar a span {
  position: relative; /* Create a positioning context */
  z-index: 1; /* Ensure text appears above other content */
  transition: transform 0.2s ease-out; /* Added transform for movement */
}
.nav-bar a:hover span {
  transform: translateY(5px); /* Move text up by 5px on hover */
  font-size: larger;
}
.nav-bar a:active {
  /* filter: brightness(0.2); Darken the image */
  background-color: rgba(0, 0, 0, 0.5); /* Darken the background when active */
}

.footer {
  height: 215px;
  width: 100%;
  background-color: #163240;
  margin: 0 auto;
}
.marmot-credit-flex {
  margin-top: 46px;
  position: absolute;
  gap: 10px;
  width: 300px;
  right: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media-flex {
  margin-top: 46px;
  position: absolute;
  gap: 11px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media-row-flex {
  display: flex;
  align-items: center;
  gap: 50px;
}

.fish {
  position: absolute;
  mix-blend-mode: soft-light;
  height: 678px;
  width: 678px;
}

.element-with-fish-animation {
  animation: fishAnimation 3s linear infinite both;
}

.stingray-animation {
  animation: stingray 0.5s ease-in both;
}

.stingray-hover-animation {
  animation: stingray-hover 0.5s linear infinite both;
  animation-delay: 1s; /* Adjust the delay as per your preference */
}

.stingray-out-animation {
  animation: stingray1-out 0.5s ease-in both;
}

.slideInLeft {
  animation: slideInLeftAnimation 0.7s ease-in both;
}
